body {
  box-sizing: border-box;
  margin: 0;
}
.container {
  max-width: 920px;
  margin: auto;
}
.menu-item {
  display: inline-block;
  margin-right: 100px;
  padding: 70px 0;
}
ul {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
a:hover {
  color: #03a9f4;
}

a {
  text-decoration: none;
  color: #7c7c7c;
  transition: 0.4;
}

.content {
  display: inline-block;
  max-width: 420px;
  margin-right: 60px;
  margin-bottom: 130px;
}
.content:nth-child(2n + 2) {
  margin-right: 0px;
}
.name {
  text-transform: uppercase;
  padding-bottom: 12px;
  padding-top: 16px;
  font-family: "Ubuntu", sans-serif;
  color: #c8c3b8;
  font-weight: 300;
}
.heading {
  padding-bottom: 12px;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 30px;
}

.button {
  text-align: center;
  padding: 50px;
  padding-top: 30px;
}
.content:nth-child(n + 5) {
  margin-bottom: 0;
}
.menu-item:last-child {
  margin-right: 0;
}
.main-button {
  color: #626262;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 22px 34px;
  margin-bottom: 70px;
}

.content:nth-last-child(-n + 2) {
  margin-bottom: 53px;
}
.menu-item {
  
  font-size: 15px;
  font-family: "Playfair Display", serif;
}
.text {
  font-family: "Playfair Display", serif;
  color: #626262;
  
}
